body{font-family:trebuchet ms,arial,helvetica,sans-serif}
#main {
	padding: 20px;
	margin: 0px 150px;
	background: #bbcccc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#qContainer {
	margin: 0px 150px;
}
.question {
	padding: 20px 20px 5px 20px;
	margin: 10px 0px;
	border: 1px solid black;
	background:rgba(0,0,0,.1);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.ok {
	background: #a6c868;
	border-color: #6e893d;
}
.ko {
	background: #ff9191;
	border-color: #d43838;
}
.answerOk {
	text-decoration: underline;
}
.answerKo {
	text-decoration: line-through;
}
#footer {
	margin: 10px 150px;
	padding: 5px 20px;
	background: #bbcccc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:small;
}
.unanswered li,.answered li {
	margin: 3px;
	padding: 2px;
	border: 1px solid rgba(0,0,0,0);
}
.unanswered li {
	border: 1px solid rgba(0,0,0,0);
}
.unanswered li:hover {
	border: 1px solid black;
	background:rgba(0,0,0,.1);
	cursor:pointer;
}
a, a:link, a:hover, a:visited {
	color: #025b73;
}
.button {
	width: 75px;
	height: 2em;
	background-color:#82A7A7;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.button:hover {
	background-color:#698686;
}
#sugg {
	font-size: 90%;
}
